{% extends 'base.html.twig' %}

{% block title %}¡Bienvenido!{% endblock %}

{% block body %}
    <h1 class="my-3">Lista de productos</h1>
    <div class="list-group" style="height: 600px; overflow: auto;">
        {% for product in products %}
            {{ include('_product.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}
