{% extends 'base.html.twig' %}

{% block title %}¡Bienvenido!{% endblock %}

{% block body %}
    <h1 class="my-3">Lista de productos</h1>
    {{ include('_products_list.html.twig') }}
{% endblock %}
