{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    <h1>Lista de comentarios</h1>
    <ul class="list-group list-group-flush mt-4">
        {% for comment in comments %}
            <li class="list-group-item">
                <a  href="{{ path('products_show', {product: comment.product.id}) }}">
                    <h2 class="fw-bold">{{ comment.product.name }}</h2>
                </a>
                {{ include('_comment.html.twig') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
