<aside class="p-5">
    <div class="bg-dark text-light rounded-3 p-3">
        <p class="m-0">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
        <p class="m-0">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
    </div>
    <p class="my-2">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
    <button class="btn btn-warning">Comentarios</button>
</aside>
