{% extends 'base.html.twig' %}

{% block title %}Products by {{ tag.name }}{% endblock %}

{% block body %}
    <h1 class="my-3">Lista de productos por {{ tag.name }}.</h1>
    <div class="list-group" style="height: 600px; overflow: auto;">
        {% for product in tag.products %}
            <section class="list-group-item list-group-item-action">
                {{ include('_product.html.twig') }}
            </section>
        {% endfor %}
    </div>
{% endblock %}